vscode/**
!vscode/extensions/
!vscode/extensions/cluster/
!vscode/extensions/cluster/**
vscode-*
VS*/*
VSCode*
clusterIDE*
.DS_Store
*.env
assets/
build/linux/appimage/out
build/linux/appimage/pkg2appimage.AppDir
build/linux/appimage/pkg2appimage-*.AppImage
build/linux/appimage/pkg2appimage.AppImage
build/linux/appimage/squashfs-root
build/linux/appimage/vscode*
build/windows/msi/obj*
*.orig
*.patch
!patches/*.patch
!patches/**/*.patch
node_modules
npm-debug.log
out*/
yarn-error.log
**/.git
